<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3" style="margin: 10px 0px; max-width:350px;">
    <div class="card text-white bg-dark">
    <div class="card-header">
        Featured
      </div>
    <img src="/static/img/VRISKA8BALL.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-white bg-dark">Cras justo odio</li>
      <li class="list-group-item text-white bg-dark">Dapibus ac facilisis in</li>
      <li class="list-group-item text-white bg-dark">Vestibulum at eros</li>
    </ul>
    <div class="card-footer">
        <a href="#" class="card-link">Permalink</a>
      </div>
  </div>
  </div>