<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Primary Meta Tags -->
    <title>PROJECT 89</title>
    <meta name="title" content="PROJECT 89">
    <meta name="description" content="">
    <meta name="theme-color" content="#ffffff">

    <!-- Global Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/rarity.css">
</head>


