<%- include('../components/header'); -%>
<%- include('../components/navigation',{page:'data'}); -%>
<div class="container-fluid">
<div class="row justify-content-center">

    <%- include('../components/card',{rarity:query.r}); -%>

</div>
</div>
<%- include('../components/footer'); -%>