<%- include('../components/header'); -%>
<div class="container-fluid">
<div class="row justify-content-center">
    <%- include ('../components/card',{card:{"id":"0","image":query.img,"name":query.n,"rarity":query.r,"description":query.d,"attributes":[].concat(query.a),"type":query.t}}) -%> 
</div>
</div>
<%- include('../components/footer'); -%>